* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
span {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  background-color: var(--page-background-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

fieldset {
  border: 1px solid white;
}
