.card-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card__loader {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90vw;
  height: 90vh;
  background-color: var(--page-background-color);
}
